body {
    margin:34px 0 0 250px;
    padding:20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 5px 20px;
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    z-index: 2;
    margin: 0;
    padding: 10px 20px 10px 20px;
    left: 0;
    width: 210px;
    overflow-y: auto;
    border-right: solid 1px cadetblue;
    background-color: powderblue;
}

table.sidebarAligner {
    height: 100%;
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.sidebarAligner td {
    padding: 0;
    margin: 0;
    border: none;
}

.sidebarAligner td.bottom {
    font-size: smaller;
    color: dimgray;
    padding-top: 40px;
    vertical-align: bottom;
}

.sidebarAligner td.bottom a {
    color: inherit;
}

.sidebarAligner td.bottom a:hover {
    color: firebrick;
}

a[name], a[id] {
    height: 42px;
    display: block;
    margin-top: -42px;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: '';
    display: block;
    height:      42px;
    margin-top: -42px;
}

div.sidebar h1::before, div.sidebar h2::before, div.sidebar h3::before, 
div.sidebar h4::before, div.sidebar h5::before, div.sidebar h6::before {
    content: unset;
    display: unset;
    height: unset;
    margin-top: unset;
}

.sidebar_item { 
    padding: 0 20px 0 20px; 
    margin-left: -20px; 
    margin-right: -20px;
    display: block;
    color: firebrick;
    text-decoration: none;
}

.sidebar_item:hover { 
    background-color: #8fd8e1;
}

.sidebar_item.selected {
    text-decoration: underline 2px dodgerblue;
    text-underline-offset: 3px;
}

div.sidebar h3 {
    color: darkslategray;
    margin-top: 10px;
    margin-bottom: 0;
}

.header>a:link, .header>a:visited, .header>a:hover, .header>a:active {
    text-decoration: none;
}

.header_item {
    color: darksalmon;
    font-weight: bold;
    margin: 0 7px 0 7px;
}

.header_item.selected {
    color: darksalmon;
    border-bottom: solid dodgerblue 3px;
}

.headerTitle {
    font-weight: bold; 
    color: antiquewhite;
    margin: 0 7px 0 7px;
}

.header_item_source {
    color: darksalmon;
    margin: 0 7px 0 7px;
}

.header_item_source.inactive {
    color: darkgray;
}
