body {
    background-image: url("pict/background.png");
}

.header {
    background-color: black;
}

blockquote, div.admonition {
    overflow: hidden;
}

.header_item.selected {
    color: darksalmon;
    border-bottom: solid dodgerblue 3px;
}

.header_item_source {
    color: darksalmon;
    margin: 0 7px 0 7px;
}

.headerTitle {
    color: antiquewhite;
}

.header_item_source.inactive {
    color: darkgray;
}

div.sidebar a:link, div.sidebar a:visited, div.sidebar a:hover, div.sidebar a:active {
    color: firebrick;
}

.sidebar {
    background-color: powderblue;
}

div.sidebar_item:hover { 
    /* background-color: lightskyblue;  */
    background-color: skyblue; 
}

div.sidebar_item.selected {
    border-right-color: firebrick;
}

video.floatRight {
    float: right; 
    margin: 0 0 25px 25px;
}

code, .code {
  border: lightgray solid 1px;
}

hr {
    width: 900px;
    margin-left: 0px;
    text-align: left;
}

div.noBullets + ul {
    list-style-type: none;
}

div.index-content {
    column-count: 3;
}


